<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('devices') }}">Устройства</a>
            </li>
            {% if not config['is_lease'] %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('security') }}">Доступ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('info') }}">Информация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Выход</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{message}}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
