{% extends 'base.html' %}
{% block title %}Доступ{% endblock %}
{% block body %}
  <h2>Смена пароля</h2>

  <div class="row justify-content-center">
    <form method="POST" class="col-4">

      <label class="form-group has-float-label">
        <input id="password" class="form-control" type="text" name="password" placeholder="123">
        <span for="password" class="label">Новый пароль</span>
      </label>

      <button type="submit" class="form-control btn">Сменить</button>
      <a href="{{ url_for('devices') }}" class="form-control btn">Отмена</a>
    </form>
  </div>

{% endblock %}
